@using AgiliFood2.Models
@model IEnumerable<Group<string, AgiliFood2.Models.MenusGroup>>

@{
    ViewBag.Title = "Menus Report";
}

<h2>View</h2>

<table class="table">
    <tr>
        <th>
            ProductName
        </th>
        <th>
            ProductPrice
        </th>
        <th>
            DayOfWeek
        </th>
        <th></th>
    </tr>
    @foreach (var menu in Model)
    {
        <tr><th colspan="3" style="background-color: lightgray">@menu.Key</th></tr>
        foreach (var item in menu.Values)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @String.Format("{0:c}", item.ProductPrice)
                </td>
                <td>
                    @Enum.GetName(typeof(DayOfWeek), item.DayOfWeek)
                </td>
            </tr>
        }
    }
</table>
