@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AgiliFood</h1>
    <p class="lead">Maecenas vel tincidunt dolor. Integer pellentesque ex in justo imperdiet, non lacinia lorem bibendum. 
    Nulla eleifend, lacus ac semper iaculis, urna velit consectetur augue, pellentesque faucibus sem lorem eget nisi.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consectetur</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus enim id gravida dictum. 
            Duis sed risus metus. Quisque sodales at nisi in blandit. Curabitur sit amet pulvinar nunc. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisl quis nunc mollis semper. Nulla sed facilisis nulla.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ullamcorper</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus enim id gravida dictum.
            Duis sed risus metus. Quisque sodales at nisi in blandit. Curabitur sit amet pulvinar nunc.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisl quis nunc mollis semper. Nulla sed facilisis nulla.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vestibulum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus enim id gravida dictum.
            Duis sed risus metus. Quisque sodales at nisi in blandit. Curabitur sit amet pulvinar nunc.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisl quis nunc mollis semper. Nulla sed facilisis nulla.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Pellentesque</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aliquam</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus enim id gravida dictum.
            Duis sed risus metus. Quisque sodales at nisi in blandit. Curabitur sit amet pulvinar nunc.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisl quis nunc mollis semper. Nulla sed facilisis nulla.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quisque</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus enim id gravida dictum.
            Duis sed risus metus. Quisque sodales at nisi in blandit. Curabitur sit amet pulvinar nunc.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisl quis nunc mollis semper. Nulla sed facilisis nulla.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>